body {
  margin: 0;
}

h1 {
  color: #33313B;
  font-family: 'Righteous', cursive;
  font-size: 100px;
  line-height: 1.2em;
  margin: 10px;
}

h2 {
  color: #000000;
  font-family: 'Shadows Into Light', cursive;
  font-size: 35px;
  margin: 0px;
  margin-bottom: 15px;
}

h3 {
  color: #3E432D;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  margin: 0px;
}

p {
  color: #3E432D;
  font-family: 'Ubuntu', sans-serif;
  margin: 0px;
  margin-right: 40px;
  margin-left: 40px;
}

a {
  color: #182952;
  opacity: 0.4;
  text-align: center;
  text-decoration-line: none;
}

a:hover {
  opacity: 1;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

/*.container {
  background-color: #EEF2F5;
  width: 800px;
  margin: 0 auto;
}*/

th, td {
  font-family: 'Ubuntu', sans-serif;
}

@media (max-width: 1500px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 100%;
    margin: 0 auto;
    /*background-color: #EEF2F5;*/
background: #0B486B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #F56217, #0B486B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #F56217, #0B486B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
    margin: 0 auto;
   background: #0B486B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #F56217, #0B486B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #F56217, #0B486B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
    margin: 0 auto;
    background: #0B486B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #F56217, #0B486B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #F56217, #0B486B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.card {
    width: 800px;
    margin: 30px auto;
    text-align: center;
    background-color: white;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    padding: 20px 20px;
    border-radius: 6px;
}

.card:first-child {
  margin-top: 0;
}

.sns_list {
  width: 130px;
  margin: 0 auto;
  text-align: left;
}

.connect {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

#self {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50%;
}

img {
  max-width:100%;
  max-height:100%;
  border-radius: 10px;
}











